---
# Cluster settings
cluster:
  # -- The name of this cluster, which will be set in all labels. Required.
  # @section -- Cluster Settings
  name: ""

  # -- The Kubernetes service. Change this if your cluster DNS is configured differently than the default.
  # @section -- Cluster Settings
  kubernetesAPIService: kubernetes.default.svc.cluster.local:443

  # -- The specific platform for this cluster. Will enable compatibility for some platforms. Supported options: (empty) or "openshift".
  # @section -- Cluster Settings
  platform: ""

beyla:
  resources:
     limits:
       memory: 4Gi
     requests:
       cpu: 100m
       memory: 256Mi

  global:
    image:
      registry: "public.ecr.aws/oodle-ai/oodle"
      repository: beyla

  image:
    tag: 2.2.4.22
    repository: beyla

  podAnnotations:
    prometheus.io/port: "9090"

  tolerations:
    - effect: NoSchedule
      operator: Exists

  env:
    BEYLA_KUBE_CLUSTER_NAME: "" # Kubernetes cluster name
    BEYLA_NAME_RESOLVER_SOURCES: "k8s,dns"

  config:
    # -- set to true, to skip the check around the ConfigMap creation
    skipConfigMapCheck: false
    # -- set to true, to use the below default configurations
    create: true
    ## -- Provide the name of the external configmap containing the beyla configuration.
    ## To create configmap from configuration file, user can use the below command. Note: The name 'beyla-config.yaml' is important.
    ## `kubectl create cm --from-file=beyla-config.yaml=<name-of-config-file> -n <namespace>`
    ## If empty, default configuration below is used.
    name: ""
    data:
      prometheus_export:
        path: /oodle_metrics
        buckets:
          duration_histogram: [ 0, 0.01, 0.05, 0.1, 0.25, 0.5, 1, 5, 10, 30, 60, 120 ]
          request_size_histogram: [ 0, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 32768 ]
        ttl: 5m
        features: [ application,application_process,application_service_graph,network,network_inter_zone ]
        allow_service_graph_self_references: true
        hostname_mapping:
          enabled: true
          mappings:
            # Amazon
            amazonaws.com:
              service_name: "AWS"
              patterns:
                - regex: ".*s3.*"
                  service_name: "AWS S3"
                - regex: ".*dynamodb.*"
                  service_name: "AWS DynamoDB"
                - regex: ".*lambda.*"
                  service_name: "AWS Lambda"
                - regex: ".*rds.*"
                  service_name: "AWS RDS"
                - regex: ".*ec2.*"
                  service_name: "AWS EC2"
                - regex: ".*ecs.*"
                  service_name: "AWS ECS"
                - regex: ".*eks.*"
                  service_name: "AWS EKS"

            # Google
            googleusercontent.com:
              service_name: "Google User Content"

            googleapis.com:
              service_name: "Google APIs"
              patterns:
                - regex: ".*storage.*"
                  service_name: "Google Cloud Storage"
                - regex: ".*bigquery.*"
                  service_name: "Google BigQuery"

            # Azure services
            azureedge.net:
              service_name: "Azure CDN"
            azurewebsites.net:
              service_name: "Azure Web Apps"
            blob.core.windows.net:
              service_name: "Azure Blob Storage"

            cloudfront.net:
              service_name: "CloudFront CDN"

            # Other CDNs
            fastly.com:
              service_name: "Fastly CDN"
            cloudflare.com:
              service_name: "Cloudflare CDN"

      otel_metrics_export:
        buckets:
          duration_histogram: [ 0, 0.01, 0.05, 0.1, 0.25, 0.5, 1, 5, 10, 30, 60, 120 ]
          request_size_histogram: [ 0, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 32768 ]
        ttl: 5m
        features: [application,application_process,application_service_graph,network,network_inter_zone]
        allow_service_graph_self_references: true
        hostname_mapping:
          enabled: true
          mappings:
            # Amazon
            amazonaws.com:
              service_name: "AWS"
              patterns:
                - regex: ".*s3.*"
                  service_name: "AWS S3"
                - regex: ".*dynamodb.*"
                  service_name: "AWS DynamoDB"
                - regex: ".*lambda.*"
                  service_name: "AWS Lambda"
                - regex: ".*rds.*"
                  service_name: "AWS RDS"
                - regex: ".*ec2.*"
                  service_name: "AWS EC2"
                - regex: ".*ecs.*"
                  service_name: "AWS ECS"
                - regex: ".*eks.*"
                  service_name: "AWS EKS"

            # Google
            googleusercontent.com:
              service_name: "Google User Content"

            googleapis.com:
              service_name: "Google APIs"
              patterns:
                - regex: ".*storage.*"
                  service_name: "Google Cloud Storage"
                - regex: ".*bigquery.*"
                  service_name: "Google BigQuery"

            # Azure services
            azureedge.net:
              service_name: "Azure CDN"
            azurewebsites.net:
              service_name: "Azure Web Apps"
            blob.core.windows.net:
              service_name: "Azure Blob Storage"

            cloudfront.net:
              service_name: "CloudFront CDN"

            # Other CDNs
            fastly.com:
              service_name: "Fastly CDN"
            cloudflare.com:
              service_name: "Cloudflare CDN"
      name_resolver:
        sources:
          - k8s
          - dns
      profile_port: 6060
      network:
        enable: true
      discovery:
        services:
          # Add a specific namespace here to restrict auto-instrumentation.
          # By default, instrument all namespaces.
          - k8s_namespace: .
        exclude_services:
          # Short lived processes cause memory leak in beyla.
          - exe_path: ".*alloy.*|.*otelcol.*|.*beyla.*|.*postgres.*|.*chrome.*"
